body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

main{
  height: 70%;
}

h1 {
  color: #333;
  text-align: center;
}

nav {
  text-align: center;
  margin: 20px 0;
}

nav a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  margin: 0 15px;
}

nav a:hover {
  text-decoration: underline;
}

footer{
  color: #333;
  text-align: center;
  padding: 10px 230px;
}


